FLASK_SECRET_KEY=CAMBIAR_EN_PROD
QR_SALT_SECRETO=CAMBIAR_SALT_SECRETO
ADMIN_USER=admin
ADMIN_PASSWORD=demo123
SIGA_DEMO=1
DEMO_RESET_ON_BOOT=1
FIREBASE_DB_URL=https://TU-PROYECTO.firebaseio.com
FIREBASE_CRED_PATH=firebase-service-account.json
PENDIENTES_FILE=pendientes.json
LOCAL_SSL_CERT=certs/localhost.pem
LOCAL_SSL_KEY=certs/localhost-key.pem
SMTP_USER=tu_correo@gmail.com
SMTP_APP_PASSWORD=tu_app_password_gmail
SMTP_FROM_NAME=SIGA
